// search-input 
.__searchInputContainer {
  .__searchIcon {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
  }
  .__searchInput {
    padding-left: 2.25em;
  }
}
// ************************************ //